<!--The content below is only a placeholder and can be replaced.-->


<div id="heading" style="padding-top: 20px ; padding-bottom: 20px">
  <h2 align="center">Zoning and Prefill</h2>
</div>


<div class="row">
  <div class="col" style="padding-left: 50px ; padding-right: 50px">
    <div id="leftContainer">
        <app-left-container></app-left-container>
    </div>
  </div>


  <div class="col">
    <div id="rightContainer">
      <app-right-container></app-right-container>
    </div>
  </div>
</div>
<button type="button" class="btn btn-success" style="margin-left: 50%">Success</button>
<router-outlet></router-outlet>