<!--The content below is only a placeholder and can be replaced.-->


<div id="heading">
  <h3 align="center">Zoning and Prefill</h3>
</div>


<div class="row">
  <div class="col" style="padding-left: 50px ; padding-right: 50px">
    <div id="leftContainer">
      <form>
        <div class="form-group row">
          <label for="advisorCode" class="col-sm-5 col-form-label">Advisor Code</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="advisorCode" placeholder="Advisor Code">
          </div>
        </div>
        <div class="form-group row">
          <label for="directChannelCode" class="col-sm-5 col-form-label">Direct Channel Code</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="directChannelCode" placeholder="Direct Channel Code">
          </div>
        </div>
        <div class="form-group row">
          <label for="pdaNumber" class="col-sm-5 col-form-label">PDA Number</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="pdaNumber" placeholder="PDA Number">
          </div>
        </div>
        <div class="form-group row">
          <label for="branchCode" class="col-sm-5 col-form-label">Branch Code</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="branchCode" placeholder="Branch Code">
          </div>
        </div>
        <div class="form-group row">
          <label for="clientNumber" class="col-sm-5 col-form-label">Client Number</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="clientNumber" placeholder="Client Number">
          </div>
        </div>
        <div class="form-group row">
          <label for="branchInwardDate" class="col-sm-5 col-form-label">Branch Inward Date</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="branchInwardDate" placeholder="Branch Inward Date">
          </div>
        </div>
        <div class="form-group row">
          <label for="ibrCode" class="col-sm-5 col-form-label">IBR Code</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="ibrCode" placeholder="IBR Code">
          </div>
        </div>
        <div class="form-group row">
          <label for="sc" class="col-sm-5 col-form-label">SC</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="sc" placeholder="SC">
          </div>
        </div>
        <div class="form-group row">
          <label for="pec" class="col-sm-5 col-form-label">PEC</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="pec" placeholder="PEC">
          </div>
        </div>
        <div class="form-group row">
          <label for="tmc" class="col-sm-5 col-form-label">TMC</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="tmc" placeholder="TMC">
          </div>
        </div>
        <div class="form-group row">
          <label for="ac" class="col-sm-5 col-form-label">AC</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="ac" placeholder="AC">
          </div>
        </div>
        <div class="form-group row">
          <label for="partnerReferenceNumber" class="col-sm-5 col-form-label">Partner Reference Number</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="partnerReferenceNumber" placeholder="Partner reference Number">
          </div>
        </div>

        <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-sm-5 pt-0">Title</legend>
            <div class="col-sm-7">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="mr" id="mr" value="option1" checked>
                <label class="form-check-label" for="mr">
                  Mr.
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="form-group row">
          <label for="firstName" class="col-sm-5 col-form-label">First Name</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="firstName" placeholder="First Name">
          </div>
        </div>
        <div class="form-group row">
          <label for="surName" class="col-sm-5 col-form-label">Surname</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="surName" placeholder="Surname">
          </div>
        </div>
        <div class="form-group row">
          <label for="fatherName" class="col-sm-5 col-form-label">Father's Name</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="fatherName" placeholder="Father's Name">
          </div>
        </div>
        <div class="form-group row">
          <label for="motherName" class="col-sm-5 col-form-label">Mother's Name</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="motherName" placeholder="Mother's Name">
          </div>
        </div>
        <div class="form-group row">
          <label for="dateOfBirth" class="col-sm-5 col-form-label">Date of Birth</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="dateOfBirth" placeholder="DD">
          </div>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="month" placeholder="MM">
          </div>
          <div class="col-sm-3">
            <input type="text" class="form-control" id="year" placeholder="YYYY">
          </div>
        </div>
        <div class="form-group row">
          <label for="gender" class="col-sm-5 col-form-label">Gender</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="gender" placeholder="Make it radio button">
          </div>
        </div>
        <div class="form-group row">
          <label for="ageProof" class="col-sm-5 col-form-label">Age Proof</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="ageProof" placeholder="Make it radio button">
          </div>
        </div>
        <div class="form-group row">
          <label for="maritalStatus" class="col-sm-5 col-form-label">Marital Status</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="maritalStatus" placeholder="Make it radio button">
          </div>
        </div>
        <div class="form-group row">
          <label for="spouseName" class="col-sm-5 col-form-label">Spouse Name</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="spouseName" placeholder="Spouse Name">
          </div>
        </div>
        <div class="form-group row">
          <label for="maidenName" class="col-sm-5 col-form-label">Maiden Name</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="maidenName" placeholder="Maiden Name">
          </div>
        </div>
        <div class="form-group row">
          <label for="nationality" class="col-sm-5 col-form-label">Nationality</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="nationality" placeholder="Make it radio button">
          </div>
        </div>
        <div class="form-group row">
          <label for="countryOfBirth" class="col-sm-5 col-form-label">Country of Birth</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="countryOfBirth" placeholder="Country of Birth">
          </div>
        </div>
        <div class="form-group row">
          <label for="education" class="col-sm-5 col-form-label">Education</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="education" placeholder="Make it radio button">
          </div>
        </div>
        <div class="form-group row">
          <label for="addressOfCommunication" class="col-sm-5 col-form-label">Address of Communication</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="addressOfCommunication" placeholder="Address of Communication">
          </div>
        </div>
        <div class="form-group row">
          <label for="landmark" class="col-sm-5 col-form-label">Landmark</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="landmark" placeholder="Landmark">
          </div>
        </div>
        <div class="form-group row">
          <label for="city" class="col-sm-5 col-form-label">City</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="city" placeholder="City">
          </div>
        </div>
        <div class="form-group row">
          <label for="pinCode" class="col-sm-5 col-form-label">Pin Code</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="pinCode" placeholder="Pin Code">
          </div>
        </div>
        <div class="form-group row">
          <label for="state" class="col-sm-5 col-form-label">State</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="state" placeholder="State">
          </div>
        </div>
        <div class="form-group row">
          <label for="addressProof" class="col-sm-5 col-form-label">Address Proof</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="addressProof" placeholder="Make it Radio button">
          </div>
        </div>
        <div class="form-group row">
          <label for="permanentaddressOfCommunication" class="col-sm-5 col-form-label">Permanent Address</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="permanentaddressOfCommunication" placeholder="Permanent Address">
          </div>
        </div>
        <div class="form-group row">
          <label for="permanentlandmark" class="col-sm-5 col-form-label">Landmark</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="permanentlandmark" placeholder="Landmark">
          </div>
        </div>
        <div class="form-group row">
          <label for="permanentcity" class="col-sm-5 col-form-label">City</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="permanentcity" placeholder="City">
          </div>
        </div>
        <div class="form-group row">
          <label for="permanentpinCode" class="col-sm-5 col-form-label">Pin Code</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="permanentpinCode" placeholder="Pin Code">
          </div>
        </div>
        <div class="form-group row">
          <label for="permanentstate" class="col-sm-5 col-form-label">State</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="permanentstate" placeholder="State">
          </div>
        </div>
        <div class="form-group row">
          <label for="permanentaddressProof" class="col-sm-5 col-form-label">Address Proof</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="permanentaddressProof" placeholder="Make it Radio button">
          </div>
        </div>
        <div>
          <h4>
            Contact Details
          </h4>
        </div>
        <div class="form-group row">
          <label for="mobileNumber" class="col-sm-5 col-form-label">Mobile Number</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="mobileNumber" placeholder="Mobile Number">
          </div>
        </div>

        <div class="form-group row">
          <label for="phoneNumber" class="col-sm-5 col-form-label">Phone Number(Home)</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number">
          </div>
        </div>
        <div class="form-group row">
          <label for="officeBusiness" class="col-sm-5 col-form-label">Office / Business</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="officeBusiness" placeholder="Office / Business">
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-sm-5 col-form-label">Email</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="email" placeholder="Email">
          </div>
        </div>
        <div class="form-group row">
          <label for="preferredMode" class="col-sm-5 col-form-label">Preferred Mode</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="preferredMode" placeholder="Make it Radio button">
          </div>
        </div>
        <div class="form-group row">
          <label for="preferredLanguage" class="col-sm-5 col-form-label">Preferred Language for Letter</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="preferredLanguage" placeholder="Make it radion button">
          </div>
        </div>
        <div class="form-group row">
          <label for="nameOccupation" class="col-sm-5 col-form-label">Full Name of the Employer/Business/School/College</label>
          <div class="col-sm-7" style="padding-top: 20px">
            <input type="text" class="form-control" id="nameOccupation" placeholder="">
          </div>
        </div>
        <div class="form-group row">
          <label for="natureOfWork" class="col-sm-5 col-form-label">Designation & Exact nature of Work / Business</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="natureOfWork" placeholder="Designation & Exact nature of Work / Business">
          </div>
        </div>
        <div class="form-group row">
          <label for="annualIncome" class="col-sm-5 col-form-label">Annual Income in Figures({{ '&#8377;'}})</label>
          <div class="col-sm-7" >
            <input type="text" class="form-control" id="annualIncome" placeholder="Annual Income">
          </div>
        </div>
        <div class="form-group row">
          <label for="annualIncomeFather" class="col-sm-5 col-form-label">Annual Income of Husband / Father (for female and minor lives)</label>
          <div class="col-sm-7" style="padding-top: 15px" >
            <input type="text" class="form-control" id="annualIncomeFather" placeholder="Annual Income">
          </div>
        </div>

        <div class="form-group row">
          <label for="exactNatureOfWork" class="col-sm-5 col-form-label">Exact nature of work / business of Husband / Father for female and minor lives</label>
          <div class="col-sm-7" >
            <input type="text" class="form-control" id="exactNatureOfWork" placeholder="Nature of Work">
          </div>
        </div>






        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Sign in</button>
          </div>
        </div>
      </form>
    </div>
  </div>


  <div class="col">
    <div id="rightContainer">
      <div class="file ">
        Upload
        <input #file type="file" accept='image/*' (change)="preview(file.files)" />
      </div>
      <div class="image_div" *ngIf="imgURL">
        <img class="document_image" [src]="imgURL" *ngIf="imgURL">
      </div>
    </div>
  </div>
</div>

<!-- <span style="color:red;" *ngIf="message">{{message}}</span> -->


<router-outlet></router-outlet>