body, html {
    height: 100%;
}

#rightContainer{
    /* position: fixed; */
    position: fixed;
}

.document_image{
    width: 100%;
}

.image_div{
    width: 100%;
    height: 600px;
    overflow: scroll;
}

.image_non{
    overflow: hidden;
}